@import url('https://fonts.cdnfonts.com/css/inter');

/* root (variables) */
:root {
    --accent-color: #aad9ff;
    --accent-color-b: #71b7f0;
    --font-family: 'Inter', sans-serif;
}

/* base animations */

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@keyframes fluid{
    0%{
        color: white;
        text-shadow: 0 0 0.2rem var(--accent-color-b);
   }
    50%{
        color: var(--accent-color-b);
        text-shadow: 0 0 0.5rem var(--accent-color-b);
   }
    100%{
        color: white;
        text-shadow: 0 0 0.2rem var(--accent-color-b);
   }
}

@keyframes fadeInBlur {
    0% {
      filter: blur(1rem); /* Start with initial blur amount */
      opacity: 0; /* Start with opacity 0 */
    }
    50% {
      filter: blur(0); /* Midway through the animation, no blur */
      opacity: 1; /* Opacity fully visible */
    }
    100% {
      filter: blur(0); /* End with no blur */
      opacity: 1; /* Opacity fully visible */
    }
  }

/* base elements */
html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: var(--font-family);
    filter: blur(var(--blur));
    animation: fadeInBlur 3s ease;
    animation-iteration-count: 1;
    margin-top: 0;
}

header {
    width: 99%;
    height: 4%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 0.5%;
    padding-right: 0.5%;
}