/* root (variables) */
:root {
    --accent-color: #aad9ff;
    --accent-color-b: #71b7f0;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@keyframes fluid{
    0%{
        color: white;
        text-shadow: 0 0 0.2rem var(--accent-color-b);
   }
    50%{
        color: var(--accent-color-b);
        text-shadow: 0 0 0.5rem var(--accent-color-b);
   }
    100%{
        color: white;
        text-shadow: 0 0 0.2rem var(--accent-color-b);
   }
}

/* base elements */
html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: white;
    font-family: "BlinkMacSystemFont", "San Francisco";
}

/* id/class */
#header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#header {
    width: 40%;
    height: 1.8rem;
    text-align: center;
    font-size: 1rem;
    opacity: 0.2;
    transition: 1s ease;
    filter: blur(0.05rem);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    > a {
        text-decoration: none;
        color: white;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        transition: 0.5s ease;
    }

    > a:hover {
        color: var(--accent-color);
    }
}

#header:hover {
    opacity: 0.7;
    filter: blur(0);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#threejs-target {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -2vh;
    > canvas {
        width: 100%;
        height: 90vh;
    }
}

#main {
    text-align: center;
    > h1, h3 {
        font-weight: 1;
    }
}

#main-down {
    width: 2vw;
    height: 2vw;
    font-size: 1.9vw;
    border-radius: 1vw;
    background-color: white;
    opacity: 0.05;
    border: none;
    transition: 0.5s ease;
    margin-top: -2vh;
    filter: blur(0.25rem);
}

#main-down:hover {
    opacity: 1;
    filter: blur(0);
}

.pages-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.page {
    height: 100vh;
    margin-top: 2vh;
    width: 98vw;
    display: block;
}

#pg1-left {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 49.5%;
    height: 100%;
    > h1 {
        font-family: "BlinkMacSystemFont", "San Francisco";
        font-weight: 400;
        font-size: 7rem;
    }

    > p {
        font-size: 4rem;
    }
}
#pg1-right {
    float: right;
    width: 49.5%;
    height: 100%;
    display: flex;
    align-items: center;
}