@font-face {
    font-family: "imported-font";
    src: url("fonts/NoizeSportFreeVertion-Regular.ttf");
}

body {
    font-family: sans-serif;
}

#result{
    font-family: "imported-font", monospace;
    font-size: 100;
}

.char {
    display: inline-block;
    border: 1px solid rgb(189, 189, 189);
    transition: 0.2s ease;
    text-align: center;
    padding: 1vh;
}

.char:hover {
    border: 1px solid black;
}

.color-input {
    display: block;
}