#list-container{
    text-align: center;
}
.lists{
    border: 1px solid black;
    width: 30vw;
    height: 84vh;
    display: inline-block;
    overflow-y: scroll;
    padding-left: 1vw;
    padding-top: 1vw;
    border: 4px solid white;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.lists::-webkit-scrollbar {
    display: none;
    width: 0;
}
#analyze-manual{
    float: left;
}
#lists-middle{
    float: left;
    display: inline;
    width: 33vw;
    height: 83vh;
    padding-left: 1vw;
    padding-top: 1vw;
    border: 10px solid rgb(255, 255, 137);
    animation: golden-border 3s infinite;
}
#analyze-suggested{
    float: left;
}

.analyzer-team{
    border: 1px solid black;
    width: 29vw;
    height: 8vh;
    display: flex;
    font-size: 3vw;
    align-items: center;
    cursor: grab;
    z-index: 1;
    position: relative;
    user-select: none;
    transition: transform 0.2s ease-in-out;
}
@keyframes gold-border-select{
    0%{
        border: 1px solid rgb(253, 238, 101);
    }
    100%{
        border: 1px solid rgb(255, 255, 255);
    }
}
.analyzer-team.dragging {
    animation: gold-border-select 1s;
}
.analyzer-team:active{
    cursor: grabbing;
}
.analyzer-team p{
    margin-left: 1vw;
}
.analyzer-team:hover{
    background-color: rgba(255, 255, 255, 0.1);
}
.analyze-manual-buttons-container{
    float: right;
    width: 5vw;
    margin-left: auto;
    height: 8vh;
}
.downbtn{
    transform: rotate(90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: transparent;
    border: none;
    float: right;
    margin-right: 3px;
}
.upbtn{
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    background-color: transparent;
    border: none;
    float: right;
}